$color-background-main: rgb(1, 2, 8);
$color-background: rgb(32, 66, 66);
$color-main-text: rgb(249, 255, 255);
$color-main-icon: rgb(0, 0, 0);
$color-article-border:rgb(115, 116, 66);
$color-article-background: rgb(22, 41, 41);
